#c_success {
    display: none;
}

#team-txt {
    margin-bottom: 30px;
}

#team-photos p {
    margin: 20px 0 30px;
    font-weight: bold;
}

#team-photos figure {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#team-photos img {
    border-radius: 50%;
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

#team-photos figcaption {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    backface-visibility: hidden;
    background-color: #81ABD9;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    border-radius: 50%;
    color: white;
}

#team-photos figure:hover img, #team-photos figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

#team-photos figure:hover figcaption, #team-photos figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}

.left-image-1 {
    margin: 10px;
    width: 60%;
    float: left;
}

.left-image-2 {
    margin: 10px;
    width: 60%;
    float: left;
}

.right-image-1 {
    margin: 10px;
    width: 60%;
    float: right;
}

.right-image-2 {
    margin: 10px;
    width: 60%;
    float: right;
}
