#team-txt {
    margin-bottom: 30px;
}

#team-photos p {
    margin-bottom: 30px;
}

#team-photos img {
    margin-bottom: 10px;
    border-radius: 50%;
}

.left-image-1 {
    margin: 10px;
    width: 60%;
    float: left;
}

.left-image-2 {
    margin: 10px;
    width: 60%;
    float: left;
}

.right-image-1 {
    margin: 10px;
    width: 60%;
    float: right;
}

.right-image-2 {
    margin: 10px;
    width: 60%;
    float: right;
}
