#team-txt {
    margin-bottom: 30px;
}

#team-photos p {
    margin-bottom: 30px;
}

#team-photos img {
    margin-bottom: 10px;
}

.left-image-1 {
    margin: 10px;
    margin-left: -8.33333333%;
    width: 60%;
    float: left;
}

.left-image-2 {
    margin: 10px;
    margin-left: -16.66666667%;
    width: 60%;
    float: left;
}

.right-image-1 {
    margin: 10px;
    margin-right: -8.33333333%;
    width: 60%;
    float: right;
}

.right-image-2 {
    margin: 10px;
    margin-right: -16.66666667%;
    width: 60%;
    float: right;
}
