@(title: String, db: String)

<!DOCTYPE html>
<html>
	<head>
		<title>Graph</title>

		<!-- amCharts javascript sources -->
		<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
            $(document).ready(function() {
                    $.getJSON("@controllers.routes.Graph.dataJSON(title, db)", function(result){
                            AmCharts.makeChart("chartdiv",result);
                            });
                    });
		</script>
	</head>
	<body>
		<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
	</body>
</html>
