@()

<!DOCTYPE html>
@htmlheader()

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
		<div class="intro">
			<h1>Bonjour, je suis Kudly !</h1>
			<div class="start">Le futur meilleur ami de votre enfant</div>
		</div>

        <a href="#services">
		<div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>

	</section>

	<!-- Home end -->

	<!-- Navigation -->
    @navheader()

    <!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Voici ce que je peux faire</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
						</div>
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-camera"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Photos</h3>
							<div class="iconbox-desc">
                            Je peux prendre votre enfant en photo, et vous la transmettre instantanément
                            afin de l’ajouter à un album photo.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-bubbles"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Communication</h3>
							<div class="iconbox-desc">
                                Grâce à moi, vous pouvez désormais entendre votre petit bout de chou même si vous êtes loin de lui.
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-puzzle"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Éducation</h3>
							<div class="iconbox-desc">
                                Afin de participer à son éveil, des jeux éducatifs interactifs permettent à votre enfant d’apprendre les couleurs, l’alphabet, les rudiments de mathématiques ou d’anglais…
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-shuffle"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Interactivité</h3>
							<div class="iconbox-desc">
                                Je ressens les pressions sur mes pattes et les calins de votre enfant. Je sais aussi
                                détecter ses mouvements et quand il joue avec moi.
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Services end -->

	<!-- Portfolio start -->

	<section id="portfolio" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Votre enfant</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
                            Suivez en temps réel les données concernant votre enfant<br>
						</div>
					</div>

				</div>

			</div><!-- .row -->


            <div class="row">

                <div class="modal fade" id="tempModal" tabindex="-1" role="dialog" aria-labelledby="tempModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Température ambiante</h4>
                            </div>
                            <div class="modal-body">
                                <div id="tempChart" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Votre enfant s'est-il réveillé récemment ? S'est-il agité ?</h4>
                            </div>
                            <div class="modal-body">
                                <div id="activityChart" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="cryModal" tabindex="-1" role="dialog" aria-labelledby="cryModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Votre bébé pleure-t-il ?</h4>
                            </div>
                            <div class="modal-body">
                                <div id="cryChart" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModal" aria-hidden="true">
                    <div class="modal-dialog photo-modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Photos</h4>
                            </div>
                            <div class="modal-body">
                                <p><img src="http://kudly.herokuapp.com/image?name=photo.jpg" alt="Photo"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn" data-toggle="modal" data-target="#tempModal">
                        <figure class="effect-bubba">
                            <img src="assets/images/item-4.jpg" alt="img01"/>
                            <figcaption>
                                <h2>Un peu <span>froid</span>, ou bien trop <span>chaud</span> ?</h2>
                                <p>Suivez la température ambiante autour de Kudly</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn" data-toggle="modal" data-target="#activityModal">
                        <figure class="effect-bubba">
                            <img src="assets/images/item-5.jpg" alt="img01"/>
                            <figcaption>
                                <h2>Je suis <span>réveillé</span> !</h2>
                                <p>Votre enfant a bougé !</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn" data-toggle="modal" data-target="#cryModal">
                        <figure class="effect-bubba">
                            <img src="assets/images/cry.jpg" alt="img01"/>
                            <figcaption>
                                <h2><span>Ouinnnnnn !!</span></h2>
                                <p>Votre enfant pleure-t-il ?</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn" data-toggle="modal" data-target="#photoModal">
                        <figure class="effect-bubba">
                            <img src="assets/images/item-6.jpg" alt="img01"/>
                            <figcaption>
                                <h2>L'album <span>photos</span></h2>
                                <p>La bouille de votre bambin</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>

            </div>


		</div><!-- .contaier -->

	</section>

    <!-- Video start -->

	<section id="video" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_IW-mZwsiWM"></iframe>
                </div>

			</div>


			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Video end -->

	<!-- CallToAction start -->

	<section class="calltoaction">
		<div class="container">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">Prêts à me rencontrer ?</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                        Contactez l'équipe Kudly pour avoir plus d'informations
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="#contact" class="btn btn-lg">Adoptez-moi</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->

	<!-- Contact start -->

	<section id="contact" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header">
						<h2 class="pfblock-title">Contactez-nous</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
                            Partagez votre feedback, vos idées ou vos remarques avec l'équipe Kudly
						</div>
					</div>

				</div>

			</div><!-- .row -->

			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<form action="/contact" id="c_form" method="POST">
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="name" placeholder="Name">
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".1s">
								<label class="sr-only" for="c_email">Email</label>
								<input type="email" id="c_email" class="form-control" name="email" placeholder="E-mail">
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".2s">
								<textarea class="form-control" id="c_message" name="message" rows="7" placeholder="Message"></textarea>
							</div>

							<button type="submit" id="c_submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Contact end -->

<!-- Javascript files  & html footer-->
@footer()

