@htmlheader()

<!-- Navigation -->
@navheader()

<section id="purchase" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Le concept Kudly</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="text-center">
                <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" />
            </p>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                </p>
                <p>
                Le projet Kudly vise à aider les parents d'enfants en bas âge, mais également à devenir le meilleur ami de ces petits bouts de chou. Comment le fait-il ? Kudly est la prochaine génération d'ours en peluche connectées, offrant une panoplie de fonctionnalités pour l'enfant ainsi que pour ses parents, afin de les accompagner au mieux dans leur journée.
                </p>
                <p class="left-image-2">
                    <img src="@routes.Assets.at("images/kudly.jpg")" alt="" />
                </p>
                <p>
                Celle-ci commence par le réveil. Comment réveiller l'enfant en douceur ? Tout simplement en proposant aux parents la possibilité de programmer un réveil musical pour leur enfant, ou une sonnerie au son de l'une de leurs voix, qui aura été enregistrée au préalable. Ainsi, l'enfant se réveillera à une heure voulue sans trop déranger les parents. Mais que fait Kudly si l'enfant se réveille plus tôt dans la nuit ? Les parents seront alertés par une notification sur leur smartphone lorsque leur enfant bouge dans son lit ou pleure. Ces détections se feront à l'aide d'un accéléromètre, d'un gyroscope, d'un capteur de présence et d'un microphone intégrés à Kudly. Imaginez-vous être réveillés par votre enfant deux heures avant l'heure prévue. Ne seriez-vous pas tenté de lui jouer une petite musique pour l'occuper le temps de vous lever et d'aller le voir ?
                </p>
                <p>
                    L'enfance est un moment éphémère de la vie qui passe à une vitesse folle et dont vous voudriez garder des souvenirs. C'est à ce moment-là que Kudly entre en jeu. A l'aide de sa caméra embarquée, il permettra de prendre en photo votre enfant  quotidiennement, et ainsi, vous confectionnera automatiquement un album photo disponible sur l’application.
                </p>
                <p>
                    Comment faire pour que l'enfant ne se lasse pas de sa peluche ? Tout simplement en faisant évoluer Kudly à son rythme, à l'aide de programmes éducatifs évolutifs, disponibles sur notre serveur. Ainsi, un enfant étant en âge d'apprendre l'alphabet ou les nombres pourra être aidé par son Kudly dans son apprentissage. Un haut-parleur transmettra des informations et demandera à l’enfant d’interagir avec sa peluche via des leds et des capteurs disposés à divers endroits. Et pourquoi pas imaginer apprendre l'anglais ou les mathématiques, ou tout du moins les rudiments, à l'enfant ?
                </p>
                <p>
                La santé de votre enfant est aussi une de vos préoccupations principales, on peut notamment penser à l'environnement qu'il fréquente quotidiennement, comme sa chambre. Un facteur tel que la température de celle-ci sera disponible instantanément sur votre smartphone, grâce au capteur de température présent dans le Kudly.
                </p>
                <p class="right-image-2">
                    <img src="@routes.Assets.at("images/pcb.jpg")" alt="" />
                </p>
                <p>
                    Enfin, n’oublions pas qu’une peluche est faite pour être câlinée. Kudly est équipé de capteurs de pression qui lui permettent et savoir quand on le serre dans ses bras. Il peut alors répondre à cet acte par quelques mots doux.
                </p>
                <p>
                    Nous avons créé un jouet qui sera autant utile pour les enfants que pour les parents. Kudly grandit également au même rythme que l'enfant afin de proposer un suivi personnalisé qui ravira les petits comme les grands.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Javascript files  & html footer-->
@footer()


