@htmlheader()

<!-- Navigation -->
@navheader()

<section id="purchase" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Le concept Kudly</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="text-center">
                <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" />
            </p>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p>
                Pour nous, les jouets représentent l’enfance. Nous, Damien, Marc, Antoine, Julien et Dimitri, avons voulu créer un nouvel objet innovant, intuitif et interactif qui fasse le bonheur des enfants et simplifie la vie des parents. Une idée nous est immédiatement venue à l’esprit : un ours en peluche connecté !
                </p><p>
                Ainsi est né Kudly, le nouveau  meilleur ami des enfants. Nous avons commencé par définir les fonctionnalités qui allaient équiper notre peluche. Nous nous sommes d’abord demandés : comment la rendre plus interactive ? En nous replongeant dans notre enfance, nous avons imaginé une peluche capable de parler et de réagir à nos mouvements. Kudly est doté d’un haut parleur et d’un microphone pour mieux communiquer. Qui plus est, il dispose de nombreux capteurs permettant de réagir aux actions de l’enfant. Il est par exemple capable de reconnaître un câlin.
                </p>
                <p class="left-image-2">
                    <img src="@routes.Assets.at("images/kudly.jpg")" alt="" />
                </p>
                <p>
                Ensuite, nous voulions aider les parents au mieux. Pour cela, nous avons intégré une fonction babyphone dans le nounours. Nous avons aussi voulu créer une nouvelle interface entre les parents et l’enfant. A travers l’interface intuitive de Kudly, un papa ou une maman pourra souhaiter bonne nuit à son enfant même s’il doit rester tard au travail et cela de sa propre voix. Il sera en effet capable de “téléphoner” à son enfant grâce à Kudly.
                </p><p>
                Enfin, nous voulionsns un suivi de l’enfant. Pour cela, Kudly devait pouvoir évoluer avec l’enfant. Des programmes éducatifs peuvent être ajoutés par les parents pour créer des jeux qui l’occuperont. Kudly est aussi capable de veiller sur l’enfant en mesurant la température de la pièce ou encore son activité pendant son sommeil. Enfin, Kudly peut prendre des photos et enregistrer la voix de l’enfant pour ne perdre aucun des instants magiques de l’enfance.
                </p><p>
                Pour ce projet, nous sommes partis de presque rien. Une fois toutes les fonctionnalités définies, nous avons organisé chronologiquement le projet. Nous avions un peu moins de deux mois pour arriver à un produit fini. Nous avons découpé le travail en de nombreuses tâches auxquelles nous avons fixé des dates limites. Ce travail nous a permis de mieux appréhender l’avenir et d’organiser toute la suite du projet.
                </p><p>
                Après avoir réfléchi aux diverses fonctionnalités et la manière de les implémenter, nous avons conçu le cerveau de Kudly, le PCB. Ce fut pour nous l’occasion d’apprendre comment faire et d’apprendre à assembler tous les périphériques dont nous avions besoin autour d’un processeur. Nous avons aussi dû choisir quels composants convenaient au mieux à nos besoins, ceux qui fonctionnent bien ensembles… Au final, nous avons pu envoyer notre carte en production. Pour cette partie, nous avons tous travaillé sur l’ensemble du PCB. En effet, le travail était difficilement divisible et tout le monde vérifiait l’intégralité du circuit.
                </p><p>
                Quand nous avons reçu notre carte, nous avons commencé par vérifier qu’elle fonctionnait correctement puis nous nous sommes répartis les tâches pour la programmation. Cette répartition avait déjà été pensée et nous avons pu rapidement nous mettre au travail. Damien s’est occupé du wifi et des capteurs de pression, Marc du wifi et du streaming, Antoine du codec audio et du capteur de température, Julien du système de fichiers, de la caméra et du serveur et Dimitri du codec audio et de l’IMU. Tout cela fut réalisé sur un système d’exploitation spécialisé dans l’embarqué : Chibios.
                </p>
                <p class="right-image-2">
                    <img src="@routes.Assets.at("images/pcb.jpg")" alt="" />
                </p>
                <p>
                Nous avons rencontré de nombreuseses difficultés que nous avons réussi à surmonter grâce à une bonne communication entre les membres du groupe. Nous faisions régulièrement des réunions pour savoir où nous en étions dans le projet, ce que chaque personne avait fait et comment et enfin les prochains points à aborder. Nous utilisions aussi les réseaux sociaux pour transférer des informations à tous les membres et prendre des décisions rapidement. Tous cela se faisait bien entendu dans la bonne humeur qui fut cruciale, surtout quand nous restions tard pour travailler le soir.
                </p><p>
                Nous avons enfin préparé une présentation de notre projet. Pour cela, il nous faillait, comme nous le souhaitions, la peluche la plus mignonne possible. Une fois celle-ci trouvée, nous y avons intégré tous les composants. Ce fut l’occasion de se mettre à la couture. Nous voulions aussi que la voix de Kudly soit la plus douce possible. Nous avons enregistré avec du matériel de qualité la voix de la personne idéale. Ensuite, nous avons réalisé une vidéo de présentation et un site web pour mettre en avant Kudly (kudly.herokuapp.com).
                </p><p>
                Enfin, nous avons présenté ce projet devant nos professeurs et les personnes qui souhaitaient y assister. Suite à nos bons résultats, nous avons été choisis pour présenter notre projet au cours de la journée de l’innovation de notre école.
                </p><p>
                Ce projet a été une expérience incroyable durant laquelle nous avons pu réaliser un projet qui nous tenait à coeur. Nous avons acquis de nombreuses connaissances dans des domaines très variés : électronique, informatique, management, présentation, couture… Nous sommes très heureux de venir vous le présenter.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Javascript files  & html footer-->
@footer()


