@htmlheader()

<!-- Navigation -->
@navheader()

<section id="purchase" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Adoptez-moi !</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p class="text-center">
                    <img src="@routes.Assets.at("images/kudly-purchase.jpg")" alt="Kudly" />
                </p>
            </div>
            <div class="col-sm-4">

                <h3 class="text-center">Concept</h3>
                <p>
                    Kudly est la prochaine génération d'ours en peluche 
                    connectés, un jouet parfait pour accompagner votre enfant
                    tout au long de son enfance.
                </p>

                <h3 class="text-center">Fonctionnalités</h3>
                <ul>
                    <li>Babyphone</li>
                    <li>Mesure température</li>
                    <li>Mesure de l'activité physique</li>
                    <li>Détection de présence</li>
                    <li>Détection de calins</li>
                    <li>Programmes éducatifs</li>
                    <li>Alertes sur smartphone</li>
                    <li>Prose de photos</li>
                    <li>Mémoire locale</li>
                    <li>Lumière douce</li>
                    <li>Berceuse</li>
                    <li>Connection Wifi et USB</li>
                </ul>

                <div class="row">
                    <div class="col-md-10 col-offset-1">
                        

                        <form action="/contact" id="c_form" method="POST">
                            <div class="ajax-hidden">
                                <div class="form-group wow fadeInUp">
                                    <label class="sr-only" for="c_name">Name</label>
                                    <input type="text" id="c_name" class="form-control" name="name" placeholder="Name">
                                </div>

                                <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                                    <label class="sr-only" for="c_email">Email</label>
                                    <input type="email" id="c_email" class="form-control" name="email" placeholder="E-mail">
                                </div>

                                <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                                    <input type="hidden" class="form-control" id="c_message" name="message" rows="7" value="A new pre-order from kudly.fr !">
                                </div>

                                <button type="submit" id="c_submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                            </div>
                            <div class="ajax-response"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!-- Javascript files  & html footer-->
@footer()
