@htmlheader()

<!-- Navigation -->
@navheader()

<section id="purchase" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">L'équipe Kudly</h2>
                </div>
            </div>
        </div>

        <div class="row" id="team-txt">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <p>
                Notre histoire est celle de cinq grands enfants passionnés par la technologie et les objets connectés. Tout commence un soir de févier 2015. Nous nous sommes tous réunis pour discuter et alors que la conversation s'anime, chacun se met à raconter des souvenirs de son enfance. Nos histoires se recoupent et un héros revient dans chacune d'elle : notre peluche. Nous nous laissons rêver à ce qu'elle aurait pu être… ou se qu'elle pourrait être. <br>
                C'est ainsi qu'est né Kudly.
                </p>
                <p>
                Nous nous sommes empressés de présenter notre idée à nos professeur à Télécom Paristech. Ils ont été ravis et ont accepté de nous encadrer durant deux mois de travail intense.
                </p>
                <p>
                Ce fut pour nous l'occasion d'utiliser plusieurs technologies différentes et de créer un prototype fonctionnel adorable dont nous sommes très fier.
                </p>
            </div>
        </div>

        <div class="row text-center" id="team-photos">
            <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <p class="">
                    <img src="@routes.Assets.at("images/team/damien.jpg")" alt="" />
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/team/antoine.jpg")" alt="" />
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/team/juju.jpg")" alt="" />
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/team/dim.jpg")" alt="" />
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-4">
                <p>
                    <img src="@routes.Assets.at("images/team/marc.jpg")" alt="" />
                </p>
            </div>
        </div>
    </div> 

</section>



<!-- Javascript files  & html footer-->
@footer()
