@htmlheader()

<!-- Navigation -->
@navheader()

<section id="purchase" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">L'équipe Kudly</h2>
                </div>
            </div>
        </div>

        <div class="row" id="team-txt">
            <p class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                L'équipe Kudly c'est une team de nounours qui ne cherche qu'une
                seule chose : <strong>le bien-être de votre enfant</strong>.
                Ensemble, ils se sont donné pour objectif de caliner votre enfant
                de la meilleure façon qu'il soit. C'est sûr, il en redemandera !
            </p>
        </div>

        <div class="row text-center" id="team-photos">
            <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <p class="">
                    <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" /><br>
                    Kudly est un membre essentiel dans notre équipe !
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" /><br>
                    Kudly est un membre essentiel dans notre équipe !
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" /><br>
                    Kudly est un membre essentiel dans notre équipe !
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-1">
                <p>
                    <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" /><br>
                    Kudly est un membre essentiel dans notre équipe !
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-4">
                <p>
                    <img src="@routes.Assets.at("images/kudlyRound.png")" alt="" /><br>
                    Ce Kudly-là est un peu le sous-marin des Kudlys
                </p>
            </div>
        </div>
    </div> 

</section>



<!-- Javascript files  & html footer-->
@footer()
